@for (action of actions(); track action.icon) {
  @if (showLabels()) {
    <!-- A labelled action needs a text button: matIconButton has a fixed size and
         the label would spill out of it. -->
    <button
      matButton
      type="button"
      [attr.aria-label]="action.label"
      [disabled]="isRunning()"
      (click)="action.run()"
    >
      <mat-icon>{{ action.icon }}</mat-icon>
      {{ action.label }}
    </button>
  } @else {
    <button
      matIconButton
      type="button"
      [attr.aria-label]="action.label"
      [disabled]="isRunning()"
      (click)="action.run()"
    >
      <mat-icon>{{ action.icon }}</mat-icon>
    </button>
  }
}
